.nav-link {
  transition: all .5s ease;
}
.nav-pills .nav-item a{
  background: none !important;
  color: var(--dark-grayish-blue);
  font-weight: 700;
  border-radius: 6px;
  padding-bottom: 20px;
}
.nav-pills .nav-item a.active{
  color: var(--white);
  background: var(--red) !important;
}
@media only screen and (max-width: 990px) {
  .nav-pills .nav-item a {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav-pills .nav-item a {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 400px) {
  .nav-pills .nav-item a {
    font-size: 1.5rem;
  }
}

.nav-item {
  cursor: pointer;
}