@keyframes wheel {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px);
    opacity: 0.5; }
  100% {
    transform: translateY(20px);
    opacity: 0; } }

@keyframes mobile {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(20px); } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  --yellow:#FACF5A;
  --color-yellow:#91640F;
  --red: #ff5959;
  --black: #232222;
  --dark-grayish-blue:#233142;
  --light-grayish-blue: #5E6271;
  --black-2: #212529;
  --light-blue: #CDD8E5;
  --deep-blue: rgba(16, 29, 41, 0.580392);
  --blue: #4f9da6;
  --white: #fff;
  --bg-1: #1f1712;
  --icon-bg-color: #eef2f6;
  --gray:#777; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white); }

::selection {
  background-color: var(--dark-grayish-blue);
  color: var(--light-grayish-blue); }

.header__text {
  text-align: center;
  font-size: 2rem;
  font-weight: 500; }

.heading-primary {
  font-size: 8rem;
  font-weight: 700;
  width: 100%;
  letter-spacing: .01rem; }
  .heading-primary--center {
    text-align: center; }
  .heading-primary--progress {
    font-size: 3.6rem;
    line-height: 4.6rem;
    letter-spacing: inherit;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 2.4rem;
    width: 80%; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 600; }
  .heading-secondary--sub {
    text-align: center; }
  .heading-secondary--about {
    font-size: 3.6rem;
    margin-top: 2rem; }
  .heading-secondary--gallery {
    font-size: 4rem;
    color: var(--dark-grayish-blue);
    line-height: 4.6rem;
    text-transform: capitalize;
    letter-spacing: .5rem;
    margin-bottom: 2.4rem; }
  .heading-secondary--blog {
    margin-bottom: 3rem; }

.paragraph {
  color: var(--light-grayish-blue);
  font-size: 1.4rem;
  padding-right: 2rem;
  line-height: 2.6rem; }

.heading__dynamic {
  margin-top: 2rem; }

.progress__title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem; }

.u-py-sm {
  padding: 2rem 0rem; }

.u-py-md {
  padding-top: 5rem; }

.u-mt-sm {
  margin-top: 3rem; }

.u-mt-md {
  margin-top: 6rem; }

.u-my-eq {
  margin: 5rem 0; }

.u-py-md-2 {
  padding: 3rem 0; }

.u-py-lg {
  padding: 4.5rem 0; }

.card {
  border: none;
  transition: all .5s ease; }
  .card__icon {
    font-size: 5rem;
    color: var(--light-blue);
    transition: all .5s ease; }
  .card__details {
    margin-top: 2.1rem; }
  .card__header {
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-grayish-blue);
    margin-bottom: 2.1rem;
    transition: all .5s ease; }
    .card__header:hover {
      color: var(--red);
      cursor: pointer; }
  .card__text {
    color: var(--light-grayish-blue);
    font-size: 1.5rem; }
  .card:hover .card__icon {
    color: var(--blue); }

.about__image-box {
  height: 100%; }

.about__image {
  display: block;
  width: 100%;
  border-radius: 14px;
  height: 100%;
  object-fit: cover; }

.gallery {
  padding-top: 5rem;
  padding-bottom: 10rem; }
  .gallery__image {
    border-radius: 5px; }

.nav-link {
  transition: all .5s ease; }

.nav-pills .nav-item a {
  background: none !important;
  color: var(--dark-grayish-blue);
  font-weight: 700;
  border-radius: 0;
  padding-bottom: 20px; }

.nav-pills .nav-item a.active {
  color: var(--red); }

.nav-item:hover .nav-link {
  color: var(--red); }

.nav-item {
  cursor: pointer; }

.navvy {
  position: relative; }
  .navvy::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 1.5rem;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: var(--gray);
    vertical-align: middle;
    margin-right: 1.5rem; }

.image-box {
  position: relative;
  transition: all .5s ease; }
  .image-box__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    color: var(--white);
    background-color: rgba(35, 34, 34, 0.6);
    transition: all .5s ease; }
  .image-box__title {
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease; }
  .image-box:hover .image-box__title {
    top: 50%; }
  .image-box:hover .image-box__content {
    opacity: 1;
    visibility: visible; }

.blog {
  padding-bottom: 3rem; }
  .blog__box {
    position: relative; }
  .blog__image {
    border-radius: 6px; }
  .blog__details {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 34, 34, 0.2);
    opacity: 1; }
  .blog__info {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    padding: 0 2rem; }
  .blog__title {
    font-size: 2.4rem;
    font-weight: 700; }
  .blog__date {
    color: var(--red);
    font-weight: 500;
    font-size: 1.5rem; }

.about {
  padding-bottom: 10rem; }
  .about__text {
    padding: 0 3rem;
    padding-top: 5rem;
    padding-right: 5rem;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-direction: column;
    padding-bottom: 5rem; }
  .about__paragraph {
    margin-top: 3rem; }
  .about__card-box {
    padding: 5rem 0; }

.cta {
  margin-top: 4rem; }
  .cta__btn, .cta__btn:link, .cta__btn:visited {
    display: inline-block;
    padding: .5rem 2rem;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    transition: all 1s ease; }
  .cta__text {
    margin-left: 2.5rem;
    color: var(--red);
    transition: all 1s ease;
    font-size: 1.6rem;
    font-weight: 700; }
  .cta .fas.fa-long-arrow-alt-right {
    color: var(--dark-grayish-blue); }
  .cta__btn:hover .cta__text {
    color: var(--blue); }

.icon__box {
  background-color: var(--icon-bg-color);
  display: block;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center; }

.header {
  background-image: url(/images/hero.jpg);
  height: 105vh;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed; }
  .header__main {
    margin-top: 2.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__layer {
    background-image: url(/images/dots.png);
    width: 100%;
    min-height: 90vh;
    position: relative; }
  .header__navigation {
    display: flex;
    list-style-type: none; }
  .header__link, .header__link:link, .header__link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
    transition: all .5s ease;
    position: relative;
    z-index: 10; }
  .header__list {
    position: relative;
    padding: 1rem 2rem;
    transition: all .2s ease; }
    .header__list.active {
      background-color: var(--yellow); }
      .header__list.active .header__link {
        color: var(--color-yellow); }
    .header__list:not(:last-child) {
      margin-right: 1rem; }
  .header__list::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    height: 0;
    width: 100%;
    background-color: var(--yellow);
    transform: scaleY(0);
    transition: transform 0.2s, height 0.4s 0.2s cubic-bezier(1, 0, 0, 1), background-color 0.1s; }
  .header__list:hover::before, .header__list.active::before {
    transform: scaleY(1);
    height: 100%; }
  .header__list:hover .header__link {
    color: var(--color-yellow); }
  .header__list:active::before {
    background-color: var(--yellow); }
  .header__logo, .header__logo:link, .header__logo:visited {
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
    text-decoration: none; }
  .header__dot {
    font-size: .5rem;
    color: var(--red); }
  .header__title {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%); }

.typed {
  color: var(--yellow);
  font-weight: 2.5rem;
  font-weight: 400; }

.scroll {
  margin: 0 auto;
  margin-top: 10rem;
  display: block;
  width: 5rem;
  height: 10rem; }

.mouse {
  margin: 0 auto;
  border-radius: 12px;
  width: 3rem;
  height: 50%;
  border: 1px solid var(--red);
  position: relative; }

.wheel {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--red);
  position: absolute;
  top: 2px;
  left: 10px;
  animation: wheel 1s ease infinite; }

.arrow {
  text-align: center;
  margin-top: 1rem; }

.fas.fa-angle-double-down {
  font-size: 3rem;
  color: var(--red);
  animation: mobile 1s ease infinite; }

.section-about {
  padding-top: 15rem;
  padding-bottom: 5rem;
  color: var(--dark-grayish-blue); }

.progress__container {
  align-items: center; }

.section-progress {
  padding: 4rem 0rem;
  color: var(--dark-grayish-blue);
  background-color: var(--icon-bg-color); }

.progress__info {
  margin-bottom: 3rem;
  text-align: left; }

.progress-bar--blue {
  background-color: var(--blue); }

.progress {
  background-color: var(--white); }

.section-gallery {
  width: 100%; }

.section-blog {
  background-color: var(--bg-1);
  color: var(--white);
  padding-top: 5rem;
  padding-bottom: 3rem; }
