.About {

      &--header {
            background-color: var( --bg-1);

            &__main {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding-top: 2rem;
                  padding-bottom: 2rem;
            }
      }

      &__navigation {
            display: flex;
            list-style-type: none;
      }

      &__link {
            &,
            &:link,
            &:visited {
                  padding: 1rem 2rem;
            }
      }

      &__info-icon-box {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 2rem;
      }

      &__info-icon-box a {
            display: inline-block;
            text-decoration: none;
            padding: 1rem;
            background-color: var(--icon-bg-color);
            border-radius: 50%;
            margin-right: 1rem;
            color: var(--dark-grayish-blue);
            transition: all .5s ease;

            &:hover .about__icons {
                  color: var(--blue);
            }
      }
}

.about__icons {
      width: 2.1rem;
      height: 2.1rem;
      transition: all.5s ease;
      
}
.breaddy {
      background-color: #e9ecef;
      // width: 100%;
      padding: 0 1rem;
}

.breadcrumb-item + .breadcrumb-item::before {
      content: "\00BB";
}

.breadcrumb-item.active {
      color: var(--dark-grayish-blue);
}
.breadcrumb-item a {
      color: var(--red);
      text-decoration: none;
}

.section-About_me {
      padding-top: 5rem;
      padding-bottom: 5rem;
      color: var(--dark-grayish-blue);
}
.About__image {
      border-radius: 6px;
}
.biography {
      
      &__list {
            list-style-type: none;
      }

      &__item:not(:last-child) {
            margin-bottom: 1rem;
      }
      &__item {
            font-size: 1.6rem;
            color: var(--light-grayish-blue);
      }
}
.section-work-process {
      padding: 5rem 0rem;
      color: var(--dark-grayish-blue);
      background-color: var(--light-blue);
}