.section-about {
      padding-top: 15rem;
      padding-bottom: 5rem;
      color: var(--dark-grayish-blue);
}
.progress__container {
      align-items: center;
}
.section-progress {
      padding: 4rem 0rem;
      color: var(--dark-grayish-blue);
      background-color: var(--icon-bg-color);
}

.progress__info {
      margin-bottom: 3rem;
      text-align: left;
}

.progress-bar--blue {
     background-color: var(--blue);
}

.progress {
      background-color: var(--white);
}

.section-gallery {
      width: 100%;
}

.section-blog {
      background-color: var(--bg-1);
      color: var(--white);

      padding-top: 5rem;
      padding-bottom: 3rem;
}

.movetop {
      &,
      &:link,
      &:visited {
            position: fixed;
            right: 1.4rem;
            z-index: 9999;
            top: 63rem;
            width: 3rem;
            height: 3rem;
            color: var(--white);
            background-color: var(--dark-grayish-blue);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-items: center;
            text-decoration: none;
      }
      

      &:hover {
            text-decoration: none;
            color: #fff;
      }
}

.section-contact {
      background-image: url(/images/banner3.jpg);
      position: relative;
      background-attachment: fixed;
      text-align: center;
      background-size: cover;
}