.section-about {
      padding-top: 15rem;
      padding-bottom: 5rem;
      color: var(--dark-grayish-blue);
}
.progress__container {
      align-items: center;
      @include respond (no_desktop){
            padding: 0rem 3rem;
       }
}
.section-progress {
      padding: 4rem 0rem;
      color: var(--dark-grayish-blue);
      background-color: var(--icon-bg-color);
}

.progress__info {
      margin-bottom: 3rem;
      text-align: left;
}

.progress-bar--blue {
     background-color: var(--blue);
}

.progress {
      background-color: var(--white);

      &__content {
            margin-top: 2.5rem;
      }
}

.section-gallery {
      width: 100%;
}

.section-blog {
      background-color: var(--bg-1);
      color: var(--white);

      padding-top: 5rem;
      padding-bottom: 3rem;
      @include respond (small_desktop){
           padding-top: 0rem;
      }
      @include respond (no_desktop){
            padding: 0rem 3rem;
       }
}

// move the movetop to a component and name it top.scss
.top {
      position: relative;
      display: none;
      cursor: pointer;
}
.movetop {
      &,
      &:link,
      &:visited {
            position: fixed;
            right: 2rem;
            z-index: 9999;
            bottom: 2rem;
            width: 3rem;
            height: 3rem;
            color: var(--white);
            background-color: var(--dark-grayish-blue);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-items: center;
            text-decoration: none;
           
            
            @include respond (no_desktop) {
                  font-size: 3rem;
                  width: 4rem;
                  height: 4rem;
            }
            @include respond (phone) {
                  right: 2rem;
            }
      }
      

      &:hover {
            text-decoration: none;
            color: #fff;
      }

}

.section-contact {
      background-image: url(/images/banner3.jpg);
      position: relative;
      background-attachment: fixed;
      text-align: center;
      background-size: cover;
}