.about {
      

      &__image-box {
           height: 100%;
      }

      &__image {
            display: block;
            width:100%;
            border-radius:14px;
            height: 100%;
            object-fit: cover;

      }
}

.About-image-box {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      
}
.image-grid {
      width: 100%;
}

.image-box--2 {
      background-color: var(--blue);
      flex: 0 0 33.333335%;
      max-width: 33.333335%;

      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-items: center;

      padding: 0 3rem;
}
.image-img {
      object-fit: cover;
}