*,
*:after,
*:before {
      margin:0;
      padding:0;
      box-sizing: inherit;
}

@include root;

html {
      font-size: 62.5%;
      scroll-behavior: smooth;
      box-sizing: border-box;

      @include respond(tablet_landscape) {
            font-size: 56.25%;
      }
      @include respond (tablet_portrait) {
            font-size: 50%;
      }

      @include respond (big_desktop) {
            font-size: 75%;
      }
}

body {
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      color: var(--white);

}

::selection {
      background-color: var(--light-grayish-blue);
      color: var(--white);
}


p,h1,h2,h3,h4,a {
      font-family: "Spartan", sans-serif;
}