
.u-py-sm {
      padding: 2rem 0rem;
}

.u-py-none {
      padding: 0rem;
}

.u-py-md {
      padding-top: 5rem;
}
.u-mt-sm {
      margin-top: 3rem;
}
.u-mt-md {
      margin-top: 6rem;
}

.u-my-eq {
      margin: 5rem 0;
}

.u-py-md-2 {
      padding: 3rem 0;
}

.u-py-lg {
      padding: 4.5rem 0;
}

.u-mt-xs {

      @include respond (small_desktop) {
            margin-top: 3rem;
      }
}

.sm-u-mt-xs {
      @include respond(phone) {
            margin-top: 3rem;
      }
}

.u-p-sm {
      padding: 3rem 2rem;
}
.u-p-md {
      padding: 5rem 2rem;
}